<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./img/icon.png">
    <title>BitBank</title>
</head>

<body>
    <header>
        <section class="top__menu">
            <a href="/" class="logo"></a>
            <button class="burger">
                <span></span>
            </button>
        </section>
        <section class="slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide_item">
                            <img src="./img/Group 1321315034.png" alt="">
                            <h1>Fastest Crypto Bank</h1>
                            <p>Your easiest way to convert crypto to fiat online without card</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide_item">
                            <img src="./img/Group 1321315034.png" alt="">
                            <h1>Fastest Crypto Bank</h1>
                            <p>Your easiest way to convert crypto to fiat online without card</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide_item">
                            <img src="./img/Group 1321315034.png" alt="">
                            <h1>Fastest Crypto Bank</h1>
                            <p>Your easiest way to convert crypto to fiat online without card</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide_item">
                            <img src="./img/Group 1321315034.png" alt="">
                            <h1>Fastest Crypto Bank</h1>
                            <p>Your easiest way to convert crypto to fiat online without card</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide_item">
                            <img src="./img/Group 1321315034.png" alt="">
                            <h1>Fastest Crypto Bank</h1>
                            <p>Your easiest way to convert crypto to fiat online without card</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination bullets"></div>
            </div>
        </section>
    </header>
    <main>
        <a href="#" class="sing_button">Sign In</a>
        <section class="community">
            <h2>Connect to web3 community</h2>
            <ul class="community__icons_row">
                <li>
                    <a href="#"><img src="./img/icon1.png" alt=""></a>
                    <span></span>
                </li>
                <li>
                    <a href="#"><img src="./img/icon2.png" alt=""></a>
                    <span></span>
                </li>
                <li>
                    <a href="#"><img src="./img/icon3.png" alt=""></a>
                    <span></span>
                </li>
                <li>
                    <a href="#"><img src="./img/icon4.png" alt=""></a>
                    <span></span>
                </li>
                <li>
                    <a href="#"><img src="./img/icon5.png" alt=""></a>
                    <span></span>
                </li>
                <li>
                    <a href="#">
                        <span></span>
                    </a>
                    <span></span>
                </li>
            </ul>
            <ul class="community__icons_row">
                <li>
                    <a href="#"></a>
                    <span></span>
                </li>
                <li>
                    <a href="#"></a>
                    <span></span>
                </li>
                <li>
                    <a href="#"></a>
                    <span></span>
                </li>
            </ul>
            <p>More then 3 years of success stories around the globe,
                thousands of users and usefull app save the lifes </p>
            <div class="community__links">
                <a href="#" class="community__link">Read Cases</a>
                <a href="#" class="community__link">Community</a>
            </div>
        </section>
        <section class="cards">
            <a href="#" class="card"><img src="./img/Group1.jpg" alt=""></a>
            <a href="#" class="card"><img src="./img/Group2.jpg" alt=""></a>
            <a href="#" class="card"><img src="./img/Group3.jpg" alt=""></a>
            <a href="#" class="card"><img src="./img/Group4.jpg" alt=""></a>
            <a href="#" class="card"><img src="./img/Group5.jpg" alt=""></a>
            <a href="#" class="card"><img src="./img/Group6.jpg" alt=""></a>
        </section>
        <section class="product__box">
            <div class="product__box_item">
                <div class="box_item">
                    <h2>100+ banks supported</h2>
                    <p>Our network support <span></br>0% commision</span> with
                        global banks and provide you fastern way how to withdraw money.</p>
                    <a href="#" class="community__link">Watch the prices</a>
                </div>
                <img src="./img/Version-2.png" alt="">
            </div>
            <div class="product__box_item">
                <div class="box_item">
                    <h2>240+ tokens and expands support</h2>
                    <p>Each Deposit has registred as smart contract in blockchain
                        network during the withdrawal with 100%chance</p>
                    <a href="#" class="community__link">Read the WhitePaper</a>
                </div>
                <img src="./img/Version-4.png" alt="">
            </div>
        </section>
        <section class="designed__wrap">
            <img src="./img/istockphoto-1159711738-1024x1024 1.png" alt="">
            <h2>Designed with Pation</h2>
            <p>1 year of seasoned team of designers and developer propose the level to the market</p>
            <a href="#" class="sing_button">Sign In</a>
            <img class="phone" src="./img/image.png" alt="">
        </section>
        <section class="percent__wrap">
            <div class="percent__row">
                <p>More then 70% from the
                    begining using bank without assistance</p>
                <span>78%</span>
            </div>
            <div class="percent__row">
                <p>BitBank has the most biggest payments 
                    success rate on market</p>
                <span>98%</span>
            </div>
        </section>
        <section class="api__wrap">
            <div class="api__header">
                <h2>7 chains. One API</h2>
                <p>Polus Payments supports more than 240 tokens and expands its list every week.</p>
                <p> At the same time, our merchants receive only one preferred token.</p>
                <img src="/img/tokens 1.png" alt="">
            </div>
            <div class="api__items">
                <div class="api__item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none">
                        <path fill="#363853" fill-opacity=".1" stroke="#363853" stroke-width="2.3"
                            d="M5 13.4C6 9.3 9.3 6 13.4 5c3-.7 6.2-.7 9.2 0 4.1 1 7.4 4.3 8.4 8.4.7 3 .7 6.2 0 9.2-1 4.1-4.3 7.4-8.4 8.4-3 .7-6.2.7-9.2 0C9.3 30 6 26.7 5 22.6a20 20 0 0 1 0-9.2Z" />
                        <path stroke="#363853" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3"
                            d="m12 14.3 3.1 2.5c.7.6.7 1.8 0 2.4L12 21.8" />
                        <path stroke="#363853" stroke-linecap="round" stroke-width="2.3" d="M18.8 21.8H24" />
                    </svg>
                    <p>Developer First Rest API</p>
                </div>
                <div class="api__item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none">
                        <path fill="#363853" fill-opacity=".1"
                            d="M5.7 13.8C6.7 9.4 10 6 14.2 5h.3c2.3-.6 4.7-.6 7 0h.5c4 1 7.3 4.3 8.2 8.6l.2.6a15 15 0 0 1 0 6.7 9.5 9.5 0 0 1-9.1 7.5h-1.6c-.6 0-1 .3-1.2.8a3.4 3.4 0 0 1-4.5 2h-.2c-4-1.8-7.1-5.5-8.1-10-.6-2.4-.6-5 0-7.4Z" />
                        <path stroke="#363853" stroke-linecap="round" stroke-width="2.3"
                            d="M13 13.6h9m-9 5.2h5.8m.9 9.6h1.6c4.3 0 8-3.1 9-7.5a15 15 0 0 0 0-6.7v-.6C29.2 9.3 26 6 22 5h-.6c-2.2-.6-4.6-.6-6.9 0h-.3C10 6 6.7 9.4 5.7 13.8c-.6 2.5-.6 5 0 7.4 1 4.5 4 8.2 8.1 10h.2c1.7.8 3.7-.1 4.5-2 .2-.5.6-.8 1.2-.8Z" />
                    </svg>
                    <p>Unique practiques at support dep.</p>
                </div>
                <div class="api__item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none">
                        <path fill="#363853" fill-opacity=".1" stroke="#363853" stroke-width="2.3"
                            d="M18 6a10 10 0 0 1 10.2 8.6A8 8 0 0 1 33 22a8 8 0 0 1-7.9 8h-15c-4 0-7.1-3.2-7.1-7.2C3 19.7 5 17 7.7 16v-.4C7.7 10.3 12.3 6 18 6Z" />
                    </svg>
                    <p>Cloud Based Solution for your Project</p>
                    <a href="#" class="community__link">Video Guides</a>
                </div>
                <div class="api__item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none">
                        <path fill="#363853" fill-opacity=".1" stroke="#363853" stroke-width="2.3"
                            d="M30.3 22.7c-.8 3.8-3.7 6.7-7.5 7.6-3.1.8-6.5.8-9.6 0-3.8-.9-6.7-3.8-7.5-7.6-.8-3.3-.6-6.9.5-10.1l.2-.5c1.2-3.6 4.3-6.2 8-7l1-.1c1.7-.3 3.5-.3 5.2 0l1 .2c3.7.7 6.8 3.3 8 6.9l.2.5c1.1 3.2 1.3 6.8.5 10.1Z" />
                        <path stroke="#363853" stroke-linecap="round" stroke-width="2.3"
                            d="m13.8 10.5-.3.7a6.2 6.2 0 0 0-.4 3.7 4.7 4.7 0 0 0 3.8 3.7h2.2a4.7 4.7 0 0 0 3.8-3.7c.2-1.2 0-2.5-.4-3.7l-.3-.7" />
                    </svg>
                    <p>Best partner for</br>E-commers stores and SaaS products</p>
                    <a href="#" class="community__link">Documentation</a>
                </div>
            </div>
        </section>
        <section class="use__wrap">
            <img src="./img/carousel-hero-android-2x-736ca26ea5f55120450e0e65226eb91a 1.png" alt="">
            <div class="use__items">
                <h2>Use and Create</h2>
                <p>Every month we hire best people and professionals to create modern user expirience</p>
                <div class="use__links">
                    <a href="" class="community__link">Jobs Offers</a>
                    <a href="" class="community__link">Watch Guides</a>
                </div>
            </div>
        </section>
        <section class="rating__wrap">
            <div class="rating__block">
                <img src="./img/Trustpilot__logo_ 1.png" alt="">
                <div class="rating">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
                <div id="ratingResult"></div>
            </div>
            <h2>You are in a good company</h2>
            <p>Most of our clients are fame and seasoned gamers on the market, follow the leaders</p>
            <div class="wrap_reviews">
                <div class="marquee">
                    <ul class="ul_reviews marquee__group">
                        <li>
                            <img src="./img/Wechat (1).png" alt="">
                        </li>
                        <li>
                            <img src="./img/Verizon.png" alt="">
                        </li>
                        <li>
                            <img src="./img/Deloitte.png" alt="">
                        </li>
                    </ul>
                    <ul class="ul_reviews marquee__group">
                        <li>
                            <img src="./img/Wechat (1).png" alt="">
                        </li>
                        <li>
                            <img src="./img/Verizon.png" alt="">
                        </li>
                        <li>
                            <img src="./img/Deloitte.png" alt="">
                        </li>
                    </ul>
                    <ul class="ul_reviews marquee__group">
                        <li>
                            <img src="./img/Wechat (1).png" alt="">
                        </li>
                        <li>
                            <img src="./img/Verizon.png" alt="">
                        </li>
                        <li>
                            <img src="./img/Deloitte.png" alt="">
                        </li>
                    </ul>
                    <ul class="ul_reviews marquee__group">
                        <li>
                            <img src="./img/Wechat (1).png" alt="">
                        </li>
                        <li>
                            <img src="./img/Verizon.png" alt="">
                        </li>
                        <li>
                            <img src="./img/Deloitte.png" alt="">
                        </li>
                    </ul>
                </div>
                <div class="marquee marquee--reverse">
                    <ul class="ul_reviews second_row marquee__group">
                        <li>
                            <img src="./img/xfinity.png" alt="">
                        </li>
                        <li>
                            <img src="./img/NTT.png" alt="">
                        </li>
                        <li>
                            <img src="./img/Charter Spectrum.png" alt="">
                        </li>
                    </ul>
                    <ul class="ul_reviews second_row marquee__group">
                        <li>
                            <img src="./img/xfinity.png" alt="">
                        </li>
                        <li>
                            <img src="./img/NTT.png" alt="">
                        </li>
                        <li>
                            <img src="./img/Charter Spectrum.png" alt="">
                        </li>
                    </ul>
                    <ul class="ul_reviews second_row marquee__group">
                        <li>
                            <img src="./img/xfinity.png" alt="">
                        </li>
                        <li>
                            <img src="./img/NTT.png" alt="">
                        </li>
                        <li>
                            <img src="./img/Charter Spectrum.png" alt="">
                        </li>
                    </ul>
                    <ul class="ul_reviews second_row marquee__group">
                        <li>
                            <img src="./img/xfinity.png" alt="">
                        </li>
                        <li>
                            <img src="./img/NTT.png" alt="">
                        </li>
                        <li>
                            <img src="./img/Charter Spectrum.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="sing__in_footer">
            <a href="#" class="sing_button">Sign In</a>
        </div>
        <div class="footer">
            <div class="footer__left_column">
                <a href="/" class="logo"></a>
                <ul class="footer__menu">
                    <li><a href="#" class="community__link">Homepage</a></li>
                    <li><a href="#" class="community__link">About Company</a></li>
                    <li><a href="#" class="community__link">Job Offers</a></li>
                    <li><a href="#" class="community__link">Prices</a></li>
                </ul>
            </div>
            <div class="footer__rigth_column">
                <div class="footer__icons_block">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <ul class="footer__menu">
                    <li><a href="#" class="community__link">Community</a></li>
                    <li><a href="#" class="community__link">Api Documentation</a></li>
                    <li><a href="#" class="community__link">News & Blog</a></li>
                    <li><a href="#" class="community__link">Contacts</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>All rights are reserved by BitBank LTD</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module">
        import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

        const swiper = new Swiper()
    </script>
    <script src="./js/main.js"></script>
</body>

</html>